body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    border: 2px solid #000;
    border-radius: 10px;
    width: 300px;
    background-color: #fff;
    padding: 10px;
}

.display {
    background-color: #222;
    color: #fff;
    padding: 20px;
    font-size: 2em;
    text-align: right;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 30px;
}

.button {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
}

.button:hover {
    background-color: #e0e0e0;
}

.button:active {
    background-color: #ccc;
}
